//
//  Config.xcconfig
//  PLFMembership
//
//  Created by Platfarm on 2023/09/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// Chain Info
SBT_CONTRACT_ADDRESS_VALUE = 0x636656Fa1D32F0d1Ceaf03Ebbf71Cb84225C23a7
COFFEE_CONTRACT_ADDRESS_VALUE = 0x75A642CB8859f01d981f5b49C52E423d7Ac7c0d6

// ALCHEMY
ALCHEMY_API_KEY = c-Tm6eusJrq86-e-AU3_S7zUpFLNSnCg


