//
//  Config.xcconfig
//  PLFMembership
//
//  Created by Platfarm on 2023/09/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// Chain Info
SBT_CONTRACT_ADDRESS_VALUE = 0xa63C409f34885cCEE1623262Da42c0f9Dc389568
TBA_CONTRACT_ADDRESS_VALUE = 0x37613A45c01e28C0FA36c84Cda6C4ef63e12cb59
COFFEE_CONTRACT_ADDRESS_VALUE = 0x75A642CB8859f01d981f5b49C52E423d7Ac7c0d6
POAP_CONTRACT_ADDRESS_VALUE = 0x2a8c855A588A070eb589D753Ea62f14CE571af31

// ALCHEMY
ALCHEMY_API_KEY = c-Tm6eusJrq86-e-AU3_S7zUpFLNSnCg


